# OpenTofu / Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
*.tfvars
!*.tfvars.example
override.tf
override.tf.json
.terraformrc
terraform.rc

# tflint
.tflint.d/

# OS
.DS_Store

# Lambda build artifacts
.build/
*.zip
